$primary-color: #2400FF;
$second-color: white;
$third-color: #2400FF;
$font-family: Inter;


body {    
    width: 100vw;
    overflow-x: hidden;
    font-family: $font-family;
    margin: 0;
    background-color: $primary-color;
    // overflow-x: hidden;
}

h2{
    color: $primary-color;
    font-size: 7rem;
    font-weight: 100;
}

h3{
    
    color: $third-color;
    font-size: 3rem;
}

h4{
    font-size: 1.5rem;
    color: $third-color;
}

a{
    text-decoration: none;
    color: $primary-color;
}

.Column{
    flex-direction: column;
}

button{
    cursor: pointer;
    height: 6rem;
    width: 6rem;
    color: $primary-color;
    background-color: $second-color;
    border-radius: 100px;
    border: 1.5px solid $primary-color;
    transition: transform 250ms ease, width 250ms ease, height 250ms ease;
    will-change: transform, width, height;
    &:hover{
        background-color: $primary-color;
        color: $second-color;
        height: 8rem;
        width: 8rem;
    }
}

// .dashedLine{
//     height: 60%;
//     width: 0px;
//     border: 2px dashed $primary-color;
//     padding: 0 !important;
// }

.Header{
    background-color: $second-color;
    padding: 2% 7%;
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        ul{
            display: flex;
            list-style: none;
            gap:2rem;
            li{
                text-transform: lowercase;
                font-weight: 600;
            }
        }
    }
}

.Footer{
    bottom: 0;
    background-color: $second-color;
    padding: 0 7%;
    .Links{
        display: flex;
        height: auto;
        gap: 1rem;
    }
    div{
        height: 20vh;
        overflow-y: hidden;
        position: relative;
        h2{
            position: absolute;
            bottom: -20%;
            left: 50%;
            font-size: 8rem;
            text-align: start;
            transform: translate(-50%, 80%);
            white-space: nowrap;
            span{
                font-weight: 600;
                font-style: italic;
            }
        }
    }
}

.Hero{
    background-color: $second-color;
    padding: 0 7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 0;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2{
        span{
            font-weight: 600;
            font-style: italic;
        }
    }
    .HeroImg{
        position: relative;
        :nth-child(1){
            position: absolute;
            top: 10%;
            left: -5%;
        }
    }
}

.Content{
    background-color: $second-color;
    padding: 2rem 7%;
    display: flex;
    height: 75vh;
    .Column{
        position: relative;
        width: 50%;
        .AboutImg{
            background-image: url('../assets/About.png');
            height: 0vh;
            display: block;
            width: 38vw;
            background-position: bottom;
            background-size: cover;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    .Description{
        width: 50%;
        flex-direction: column;
        // align-items: end;
        justify-content: end;
        padding: 0 7%;

    }
   
    div{
        display: flex;
        p{
            font-size: 1.8rem;
            color: $third-color;
            font-weight: 100;
            span{
                font-weight: 800;
            }
        }
    }
}

.Slider{
    background-color: $second-color;
    padding: 8rem 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .Slides {
        height: 80vh;
        display: flex;
        gap: 4rem;
        overflow-x: auto; 
        img{
            filter: grayscale(1);
            &:hover{
                filter: none;
            }
        }
        
    }
}
